

.error_price{
    position: absolute;
    top: 10rem;
    right: 10rem;
}

.error_type{
    position: absolute;
    top: 12.5rem;
    right: 20rem;
}

.error_name{
    position: absolute;
    top: 6rem;
    right:9rem;
}

.error_sku{
    position: absolute;
    top: 1.5rem;
    right: 9.5rem;
}